# Output files
src/*.s
*.o
*.elf
*.gba
*.map
*.dump
ldscript.txt
.extract/
*.exe
tools/agbcc
*.4bpp
*.8bpp
*.gbapal

# Emulator save files
*.sav
*.sgm
Ghidra/
tools/Bin2Img.py
tools/yychr/
*.ss*
*.cheats
VBinDiff.exe
*.bak
